#ifndef XCOMM
#define XCOMM #
#endif

XCOMM Configuration portion of Imakefile for XPaint 2.4.1
XCOMM
XCOMM $Id: Local.config,v 1.16 1996/06/03 06:58:15 torsten Exp $

XCOMM For FreeBSD, NetBSD and BSD386, no changes should be necessary, unless
XCOMM your libraries are in nonstandard places.

XCOMM For SunOS 4.1, include
XCOMM
XCOMM	   -DDECLARE_DRAND48
XCOMM
XCOMM Defines that may or may not be useful
XCOMM
XCOMM      -DMISSING_STRERROR if you system doesn't have strerror()
XCOMM      -DMISSING_STDARG_H if you system doesn't have <stdarg.h>
XCOMM      -DNOSTDHDRS        if you don't have <unistd.h> or <stdlib.h>
XCOMM 
XCOMM	   -DERRORBEEP        beep on errors
XCOMM 
XCOMM Defines for experimental features
XCOMM 
XCOMM      -DFEATURE_FRACTAL  for fractal fill operator
XCOMM      -DFEATURE_TILT     for tilting the region
XCOMM 
XCOMM Defines for reinstating old behaviour
XCOMM 
XCOMM      -DFILTERNEEDSSELECTION	to get old behaviour of filter commands
XCOMM      -DTRUNC_SNAP		to make snap truncate instead of rounding
XCOMM 

EXTRA_DEFINES = -DERRORBEEP

#ifdef SunArchitecture
ARCH_DEFINES = -DMISSING_STRERROR
#endif

#ifdef NetBSDArchitecture
ARCH_DEFINES = -DHAVE_PARAM_H  
#endif

XCOMM Need an ANSI C compiler
XCOMM
XCOMM  Which is either 'gcc' or 'acc' on a SparcStation
XCOMM   most MIPS based machines will do just fine using 'cc'
XCOMM
XCOMM CC = gcc
XCOMM CC = acc

XCOMM  If you have the TIFF library, make HaveTIFF defined
XCOMM    and make sure the path names to the library and 
XCOMM    includes are correct.
XCOMM

#define HaveTIFF

#ifdef HaveTIFF
TIFF_LIB     = -L/usr/local/lib -ltiff
TIFF_INCLUDE = -I/usr/local/include/tiff
#endif

XCOMM  If you have the JPEG library, make HaveJPEG defined
XCOMM    and make sure the path names to the library and 
XCOMM    includes are correct.

#define HaveJPEG

#ifdef HaveJPEG
JPEG_LIB     = -L/usr/local/lib -ljpeg
JPEG_INCLUDE = -I/usr/local/include/jpeg
#endif

XCOMM  If you have the PNG library, make HavePNG defined
XCOMM    and make sure the path names to the library and 
XCOMM    includes are correct.

#define HavePNG

#ifdef HavePNG
PNG_LIB     = -L/usr/local/lib -lpng -lz
PNG_INCLUDE = -I/usr/local/include/png
#endif

XCOMM  If you are running SunOS and get an error with the following undefined
XCOMM    symbols from the link line:
XCOMM       _get_wmShellWidgetClass
XCOMM       _get_applicationShellWidgetClass
XCOMM
XCOMM  try uncommenting these lines:
XCOMM
XCOMM #undef XawClientLibs
XCOMM #define XawClientLibs -lXaw -Bstatic -lXmu -Bdynamic -lXt -lXext -lX11
XCOMM

XCOMM  You must have the XPM library.
XCOMM  Make sure the path name to the library is correct.

XPM_LIB     = -L/usr/X11R6/lib -lXpm

XCOMM Uncomment these lines and tailor to taste, if you don't like
XCOMM the default paths and man page extension.
XCOMM
XCOMM BINDIR = /usr/local/bin
XCOMM MANDIR = /usr/local/man
XCOMM #undef ManSuffix
XCOMM #define ManSuffix 1

XCOMM Add '-g' here if you want to include debugging information.
XCOMM Also add any optimizer flags etc. that you want.
XCOMM Remember to include the flags in both lines, e.g.
XCOMM
XCOMM	CDEBUGFLAGS = -g
XCOMM	#define PassCDebugFlags CDEBUGFLAGS='-g'

CDEBUGFLAGS =
#define PassCDebugFlags CDEBUGFLAGS=''

XCOMM This should take care of everything needed for BSD.

#if defined(FreeBSDArchitecture) || defined(NetBSDArchitecture) ||  \
    defined(BSD386Architecture)
ARCH_DEFINES = -DHAVE_PARAM_H
TIFF_INCLUDE = -I/usr/local/include
TIFF_LIB     = -L/usr/local/lib -ltiff
JPEG_INCLUDE = -I/usr/local/include
JPEG_LIB     = -L/usr/local/lib -ljpeg
XPM_INCLUDE = -I/usr/X11R6/include/X11
#endif
