#
#	This file contains security and configuration information
#	for each user.  The first field is the user's name and
#	can be up to 8 characters in length.  This is followed (on
#	the same line) with the list of authentication requirements
#	for that user.  This can include password, comm server name,
#	comm server port number, and an expiration date of the user's
#	password.  When an authentication request is receive from
#	the comm server, these values are tested.  A special user named
#	"DEFAULT" can be created (and should be placed at the end of
#	the user file) to specify what to do with users not contained
#	in the user file.  A special password of "UNIX" can be specified
#	to notify the authentication server to use UNIX password (/etc/passwd)
#	authentication for this user.
#
#	Indented (with the tab character) lines following the first
#	line indicate the configuration values to be passed back to
#	the comm server to allow the initiation of a user session.
#	This can include things like the PPP configuration values
#	or the host to log the user onto.

steve	Password = "testing", Expiration = "Dec 24 1992"
	User-Service-Type = Framed-User,
	Framed-Protocol = PPP,
	Framed-Address = 172.16.3.33,
	Framed-Netmask = 255.255.255.0,
	Framed-Routing = Broadcast-Listen,
	Framed-Filter-Id = "std.ppp",
	Framed-MTU = 1500,
	Framed-Compression = Van-Jacobsen-TCP-IP

rhw	Password = "moretest"
	User-Service-Type = Login-User,
	Login-Host = 172.16.2.7,
	Login-Service = PortMaster

dialbk	Password = "callme"
	User-Service-Type = Login-User,
	Login-Host = timeshare1,
	Login-Service = PortMaster,
	Dialback-No = "9,1-800-555-1212"

#
# Example PPP user with address Assigned by PortMaster
#
Peg	Password = "ge55gep"
	User-Service-Type = Framed-User,
	Framed-Protocol = PPP,
	Framed-Address = 255.255.255.254,
	Framed-Netmask = 255.255.255.255,
	Framed-Routing = None,
	Framed-Compression = Van-Jacobsen-TCP-IP,
	Framed-Filter-Id = "std.ppp.in",
	Framed-MTU = 1500

#
# Example SLIP user with specified address
#
Seg	Password = "ge55ges"
	User-Service-Type = Framed-User,
	Framed-Protocol = SLIP,
	Framed-Address = 192.9.200.129,
	Framed-Netmask = 255.255.255.255,
	Framed-Routing = None,
	Framed-Compression = None,
	Framed-MTU = 1006

#
# Example CSLIP user with specified address
#
Ceg	Password = "ge55gec"
	User-Service-Type = Framed-User,
	Framed-Protocol = SLIP,
	Framed-Address = 192.9.200.130,
	Framed-Netmask = 255.255.255.255,
	Framed-Routing = None,
	Framed-Compression = Van-Jacobsen-TCP-IP,
	Framed-MTU = 1006

#
# Prompt user for host
#
eg	Password = "ge55gebg2l"
	User-Service-Type = Login-User,
	Login-Host = 255.255.255.255,
	Login-Service = Telnet,
	Login-TCP-Port = 23

#
# Dial user back and telnet to the default host for that port
#
Deg	Password = "ge55ged"
	User-Service-Type = Dialback-Login-User,
	Login-Host = 0.0.0.0,
	Dialback-No = "9,5551212",
	Login-Service = Telnet,
	Login-TCP-Port = 23

DEFAULT	Password = "UNIX"
	User-Service-Type = Login-User,
	Login-Service = Rlogin
