#include <windows.h>
#include    <bwcc.h>

OPTIONS DIALOG LOADONCALL MOVEABLE DISCARDABLE 18, 18, 193, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "GAM Analysis Options"
BEGIN
	CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 148, 193, 2
	CONTROL "OK", 1, "BorBtn", 1 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 156, 25, 16
	LTEXT "Data file name:", -1, 7, 9, 48, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 2, 3, 189, 90
	LTEXT "Number of variables:", -1, 10, 24, 68, 7
	LTEXT "Number of observations:", -1, 6, 39, 79, 7
	CONTROL "2", 102, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE | WS_GROUP, 86, 19, 14, 8
	CONTROL "3", 103, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 104, 19, 14, 8
	CONTROL "4", 104, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 122, 19, 14, 8
	CONTROL "5", 105, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 140, 19, 14, 8
	CONTROL "6", 106, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 86, 28, 14, 8
	CONTROL "7", 107, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 104, 28, 14, 8
	CONTROL "8", 108, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 122, 28, 14, 8
	CONTROL "", 110, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 88, 38, 20, 11
	CONTROL "Intercept", 111, "BorCheck", 8195 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 123, 38, 45, 10
	LTEXT "Missing value code", -1, 127, 64, 61, 8
	EDITTEXT 116, 136, 74, 45, 12
	LTEXT "THRESHOLDS", -1, 4, 65, 46, 8
	LTEXT "Local scoring", -1, 38, 53, 43, 8
	CONTROL "", 112, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 63, 23, 12
	LTEXT "Backfitting", -1, 87, 53, 35, 8
	CONTROL "", 113, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 63, 23, 12
	LTEXT "ITERATIONS", -1, 9, 78, 41, 8
	EDITTEXT 114, 52, 77, 23, 12
	EDITTEXT 115, 96, 77, 23, 12
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 2, 97, 87, 44
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 95, 97, 96, 44
	LTEXT "FAMILY", -1, 36, 99, 29, 8
	LTEXT "LINK FUNCTION", -1, 117, 99, 52, 8
	CONTROL "Binomial", 117, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 8, 108, 40, 10
	CONTROL "Gaussian", 118, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 8, 118, 39, 10
	CONTROL "Gamma", 119, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 8, 128, 39, 10
	CONTROL "Poisson", 120, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 54, 108, 33, 10
	CONTROL "Cox", 121, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 54, 118, 32, 10
	CONTROL "Logit", 122, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 100, 108, 40, 10
	CONTROL "Identity", 123, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 100, 118, 39, 10
	CONTROL "Inversion", 124, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 100, 128, 39, 10
	CONTROL "Logarithmic", 125, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 140, 108, 47, 10
	CONTROL "Cox", 126, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 140, 118, 32, 10
	CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_LOWERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 7, 126, 11
	CONTROL "9", 109, "BorRadio", 8201 | WS_CHILD | WS_VISIBLE, 140, 28, 14, 8
	CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 2, 52, 188, 1
END


RESULTS DIALOG LOADONCALL MOVEABLE DISCARDABLE 9, 32, 222, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "RESULTS"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", -1, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 175, -2, 4, 176
	CONTROL "", 1, "BorBtn", 1 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 69, 37, 25
	CONTROL " LINK F.", -1, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 11, 21, 8
	CONTROL "", 101, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 11, 56, 8
	CONTROL " MODEL", -1, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 11, 27, 8
	CONTROL " ", 102, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 91, 11, 48, 8
	CONTROL "Deviance =", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 37, 35, 8
	CONTROL "", 103, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 37, 28, 8
	CONTROL "Aver.deviance =", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 79, 37, 53, 8
	CONTROL "", 104, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 132, 37, 28, 8
	CONTROL "Scale estimate =", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 53, 8
	CONTROL "", 105, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 57, 30, 8
	CONTROL "R2 =", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 57, 15, 8
	CONTROL "", 106, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 57, 16, 8
	CONTROL "Do=", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 129, 57, 15, 8
	CONTROL "", 107, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 145, 57, 20, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 2, 7, 166, 65
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 3, 79, 165, 92
	CONTROL "NAME", -1, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 81, 37, 8
	CONTROL "DF", -1, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 81, 22, 8
	CONTROL "coeffic", -1, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 81, 35, 8
	CONTROL "SE", -1, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 81, 35, 8
	CONTROL "P-value", -1, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 81, 27, 8
	CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 3, 91, 164, 2
	CONTROL "", 108, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 96, 37, 8
	CONTROL "", 113, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 104, 37, 8
	CONTROL "", 118, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 112, 37, 8
	CONTROL "", 123, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 120, 37, 8
	CONTROL "", 128, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 128, 37, 8
	CONTROL "", 133, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 136, 37, 8
	CONTROL "", 138, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 144, 37, 8
	CONTROL "", 143, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 152, 37, 8
	CONTROL "", 148, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 160, 37, 8
	CONTROL "", 109, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 96, 22, 8
	CONTROL "", 114, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 104, 22, 8
	CONTROL "", 119, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 112, 22, 8
	CONTROL "", 124, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 120, 22, 8
	CONTROL "", 129, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 128, 22, 8
	CONTROL "", 134, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 136, 22, 8
	CONTROL "", 139, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 144, 22, 8
	CONTROL "", 144, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 152, 22, 8
	CONTROL "", 149, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 160, 22, 8
	CONTROL "", 110, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 96, 35, 8
	CONTROL "", 115, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 104, 35, 8
	CONTROL "", 120, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 112, 35, 8
	CONTROL "", 125, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 120, 35, 8
	CONTROL "", 130, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 128, 35, 8
	CONTROL "", 135, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 136, 35, 8
	CONTROL "", 140, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 144, 35, 8
	CONTROL "", 145, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 152, 35, 8
	CONTROL "", 150, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 160, 35, 8
	CONTROL "", 111, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 96, 35, 8
	CONTROL "", 116, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 104, 35, 8
	CONTROL "", 121, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 112, 35, 8
	CONTROL "", 126, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 120, 35, 8
	CONTROL "", 131, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 128, 35, 8
	CONTROL "", 136, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 136, 35, 8
	CONTROL "", 141, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 144, 35, 8
	CONTROL "", 146, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 152, 35, 8
	CONTROL "", 151, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 160, 35, 8
	CONTROL "", 112, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 96, 27, 8
	CONTROL "", 117, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 104, 27, 8
	CONTROL "", 122, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 112, 27, 8
	CONTROL "", 127, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 120, 27, 8
	CONTROL "", 132, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 128, 27, 8
	CONTROL "", 137, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 136, 27, 8
	CONTROL "", 142, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 144, 27, 8
	CONTROL "", 147, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 152, 27, 8
	CONTROL "", 152, "BorStatic", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 160, 27, 8
	CONTROL "Modelled variable:", -1, "BorStatic", 2 | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 23, 60, 9
	CONTROL "", 200, "BorStatic", 0 | WS_CHILD | WS_VISIBLE | WS_GROUP, 75, 23, 42, 8
END


VARIABLES DIALOG LOADONCALL MOVEABLE DISCARDABLE 18, 18, 197, 176
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "GAM: Define Variables"
BEGIN
	CONTROL "1", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 21, 11, 12
	CONTROL "2", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 33, 11, 12
	CONTROL "3", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 45, 11, 12
	CONTROL "4", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 57, 11, 12
	CONTROL "5", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 69, 11, 12
	CONTROL "6", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 81, 11, 12
	CONTROL "7", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 93, 11, 12
	CONTROL "8", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 105, 11, 12
	CONTROL "9", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 117, 11, 12
	CONTROL "", 101, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 21, 33, 12
	CONTROL "", 108, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 33, 33, 12
	CONTROL "", 115, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 45, 33, 12
	CONTROL "", 122, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 57, 33, 12
	CONTROL "", 129, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 69, 33, 12
	CONTROL "", 136, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 81, 33, 12
	CONTROL "", 143, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 93, 33, 12
	CONTROL "", 150, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 105, 33, 12
	CONTROL "", 157, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 117, 33, 12
	CONTROL "", 102, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 21, 6, 12
	CONTROL "", 109, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 33, 6, 12
	CONTROL "", 116, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 45, 6, 12
	CONTROL "", 123, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 57, 6, 12
	CONTROL "", 130, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 69, 6, 12
	CONTROL "", 137, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 81, 6, 12
	CONTROL "", 144, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 93, 6, 12
	CONTROL "", 151, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 105, 6, 12
	CONTROL "", 158, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 117, 6, 12
	CONTROL "", 103, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 21, 6, 12
	CONTROL "", 110, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 33, 6, 12
	CONTROL "", 117, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 45, 6, 12
	CONTROL "", 124, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 57, 6, 12
	CONTROL "", 131, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 69, 6, 12
	CONTROL "", 138, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 81, 6, 12
	CONTROL "", 145, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 93, 6, 12
	CONTROL "", 152, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 105, 6, 12
	CONTROL "", 159, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 79, 117, 6, 12
	CONTROL "", 104, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 21, 6, 12
	CONTROL "", 111, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 33, 6, 12
	CONTROL "", 118, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 45, 6, 12
	CONTROL "", 125, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 57, 6, 12
	CONTROL "", 132, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 69, 6, 12
	CONTROL "", 139, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 81, 6, 12
	CONTROL "", 146, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 93, 6, 12
	CONTROL "", 153, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 105, 6, 12
	CONTROL "", 160, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 95, 117, 6, 12
	CONTROL "", 105, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 21, 6, 12
	CONTROL "", 112, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 33, 6, 12
	CONTROL "", 119, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 45, 6, 12
	CONTROL "", 126, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 57, 6, 12
	CONTROL "", 133, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 69, 6, 12
	CONTROL "", 140, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 81, 6, 12
	CONTROL "", 147, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 93, 6, 12
	CONTROL "", 154, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 105, 6, 12
	CONTROL "", 161, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 112, 117, 6, 12
	CONTROL "", 106, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 21, 6, 12
	CONTROL "", 113, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 33, 6, 12
	CONTROL "", 120, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 45, 6, 12
	CONTROL "", 127, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 57, 6, 12
	CONTROL "", 134, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 69, 6, 12
	CONTROL "", 141, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 81, 6, 12
	CONTROL "", 148, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 93, 6, 12
	CONTROL "", 155, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 105, 6, 12
	CONTROL "", 162, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 130, 117, 6, 12
	CONTROL "", 107, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 21, 6, 12
	CONTROL "", 114, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 33, 6, 12
	CONTROL "", 121, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 45, 6, 12
	CONTROL "", 128, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 57, 6, 12
	CONTROL "", 135, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 69, 6, 12
	CONTROL "", 142, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 81, 6, 12
	CONTROL "", 149, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 93, 6, 12
	CONTROL "", 156, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 105, 6, 12
	CONTROL "", 163, "BorRadio", 8196 | WS_CHILD | WS_VISIBLE, 149, 117, 6, 12
	CONTROL "Variable", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 34, 8
	CONTROL "name", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 12, 34, 8
	CONTROL "resp", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 54, 3, 22, 8
	CONTROL "denom", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 11, 30, 8
	CONTROL "weight", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 3, 27, 8
	CONTROL "censor", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 12, 24, 8
	CONTROL "pred", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 67, 11, 30, 8
	CONTROL "factor", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 88, 3, 24, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 2, 1, 192, 134
	CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 144, 198, 2
	CONTROL "OK", 1, "BorBtn", 1 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 152, 25, 16
	CONTROL "", -1, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 165, 1, 2, 134
	CONTROL "DF", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 9, 16, 8
	CONTROL "", 180, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 21, 20, 12
	CONTROL "", 181, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 33, 20, 12
	CONTROL "", 182, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 45, 20, 12
	CONTROL "", 183, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 57, 20, 12
	CONTROL "", 184, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 69, 20, 12
	CONTROL "", 185, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 81, 20, 12
	CONTROL "", 186, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 93, 20, 12
	CONTROL "", 187, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 105, 20, 12
	CONTROL "", 188, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170, 117, 20, 12
END

