/****************************************************************************


testing.rc

produced by Borland Resource Workshop


*****************************************************************************/
#include <windows.h>
#include    <bwcc.h>
#include <testing.rh>
BITMAP_1 BITMAP "testing.bmp"

MENU_1 MENU 
{
 POPUP "Main1"
 {
  MENUITEM "Item1a", CM_POPUPITEM
  MENUITEM "CheckedI&tem", CM_POPUPITEM1, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "CheckedGrayed", CM_POPUPITEM3, GRAYED, CHECKED
  MENUITEM "MenuBarBreakItem", CM_POPUPITEM4, MENUBARBREAK
 }

 POPUP "&CheckedPopup", CHECKED
 {
  MENUITEM "&Item", CM_POPUPITEM2
  POPUP "&Popup"
  {
   MENUITEM "&Item", CM_POPUPITEM5
   POPUP "&Popup"
   {
    MENUITEM "&Item", CM_POPUPITEM6
    POPUP "&Popup"
    {
     MENUITEM "&Item", CM_POPUPITEM7
    }

   }

   MENUITEM "&MenuBreak", CM_POPUPITEM52, MENUBREAK
   MENUITEM SEPARATOR
   MENUITEM "&Disabled", CM_POPUPITEM51, INACTIVE
  }

  MENUITEM "Item", CM_CHECKEDPOPUPITEM
  MENUITEM "Item", CM_CHECKEDPOPUPITEM1
 }

 POPUP "&HelpPopup", HELP
 {
  MENUITEM "&Item", CM_POPUPITEM8
 }

}


DIALOGno1 DIALOG 30, 37, 250, 169
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Test Dialog Number 1"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 188, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 187, 77, 50, 14
 PUSHBUTTON "Help", IDHELP, 189, 148, 50, 14
 CONTROL "Horizontal Scrollbar", IDC_HSCROLL1, "SCROLLBAR", SBS_HORZ | SBS_LEFTALIGN | WS_TABSTOP, 6, 11, 80, 11
 SCROLLBAR IDC_VSCROLL1, 109, 10, 8, 41, SBS_VERT | SBS_BOTTOMALIGN | WS_GROUP
 CONTROL "ListBox1", IDC_LISTBOX1, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_HSCROLL | WS_TABSTOP, 17, 39, 80, 44
 CONTROL "ListBox2", IDC_LISTBOX2, "LISTBOX", LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_HSCROLL | WS_GROUP | WS_TABSTOP, 20, 91, 77, 45
 GROUPBOX "Group", IDC_GROUPBOX1, 107, 57, 70, 57, BS_GROUPBOX
 CONTROL "Radio 1", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON, 112, 69, 60, 12
 CONTROL "Radio 2", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFTTEXT, 112, 81, 60, 12
 CHECKBOX "Checkbox", IDC_CHECKBOX1, 115, 98, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CONTROL "Edit/AutoScroll", IDC_EDIT1, "EDIT", ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP, 107, 120, 57, 12
 LTEXT "LeftJust", -1, 5, 138, 32, 8
 CTEXT "Center&Just", -1, 36, 137, 43, 8
 RTEXT "RightJust", -1, 83, 137, 39, 8
 CONTROL "COMBO", IDC_COMBOBOX1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 125, 7, 56, 47
}


DIALOGno2 DIALOG PRELOAD MOVEABLE DISCARDABLE 6, 15, 196, 152
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "DIALOG_2"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 96, 196, 2
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 113, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 113, 37, 25
 CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 113, 37, 25
 CONTROL "BWCC Group", -1, "BorShade", BSS_RGROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 6, 9, 83, 51
 CONTROL "BWCC Radio", IDC_RADIOBUTTON3, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 25, 54, 10
 CONTROL "BWCC Check", IDC_CHECKBOX2, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 43, 48, 10
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 140, 0, 1, 96
 CONTROL "BWCC Left", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 71, 36, 8
 CONTROL "BWCC Right", -1, "BorStatic", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 72, 46, 8
 CONTROL "Edit Ctrl", IDC_EDIT2, "EDIT", ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP, 147, 8, 38, 12
 SCROLLBAR IDC_VSCROLL2, 162, 33, 8, 52, SBS_VERT
}


STRINGTABLE 
{
 IDS_STRING1, "string Number 1"
 IDS_STRING2, " Number 2 string"
 IDS_STRING3, "string which is really the last one!"
}


ICON_1 ICON "testing.ico"

ICON_2 ICON "testing2.ico"

ACCELERATORS_1 ACCELERATORS 
{
 0, CM_KEY101, VIRTKEY
 "A", CM_KEY102
 VK_F12, CM_KEY103, VIRTKEY, CONTROL
}


CURSOR_1 CURSOR "testing.cur"


VERSIONINFO_1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "My Company\000\000"
   VALUE "FileDescription", "Description from .def file here\000"
   VALUE "FileVersion", "1.00\000\000"
   VALUE "InternalName", "Application name\000"
   VALUE "LegalCopyright", "Copyright © My Company 1993\000\000"
   VALUE "OriginalFilename", ".exe file name here\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}

