/* SCCSID = OSF/Motif: @(#)Motif.tmpl	3.5.1.5 91/06/23 */
#ifndef UsrIncDir
#define UsrIncDir $(DESTDIR)/usr/X/include
#endif
      USRINCDIR = UsrIncDir
        TESTSRC = $(TOP)/tests
     TESTSRCLIB = $(TESTSRC)/lib
     TESTSRCBIN = $(TESTSRC)/bin
       COMMONPP = $(TESTSRCBIN)/Commonpp
#ifdef DebugLib
  TESTMALLOCSRC = $(TESTSRCLIB)/Malloc
#endif
     TESTCOMSRC = $(TESTSRCLIB)/Common
    MTOOLKITSRC = $(LIBSRC)/Xt
     MWIDGETSRC = $(LIBSRC)/Xm
   MRESOURCESRC = $(LIBSRC)/Mrm
         UILSRC = $(CLIENTSRC)/uil
            UIL = LD_LIBRARY_PATH=$(EXTENSIONSRC)/lib\:$(XLIBSRC)\:$(TOOLKITSRC)\:$(MWIDGETSRC)\:$(MRESOURCESRC)\:$(LIBDIR);export LD_LIBRARY_PATH;$(UILSRC)/uil
      XMTOOLLIB = $(MTOOLKITSRC)/libXt.so
          XMLIB = $(MWIDGETSRC)/libXm.so
   MRESOURCELIB = $(MRESOURCESRC)/libMrm.so
         UILLIB = $(UILSRC)/libUil.a
     TESTCOMLIB = $(TESTCOMSRC)/libCommon.a
         UIDDIR = $(LIBDIR)/uid
#ifdef DebugLib
     TESTMALFNS = $(TESTMALLOCSRC)/MallocInit.o $(TESTMALLOCSRC)/MallocExit.o
  TESTMALLOCLIB = $(TESTMALLOCSRC)/libMalloc.a 
#endif
  LINTMRESOURCE = $(MRESOURCESRC)/libMrm.a
LINTXMWIDGETLIB = $(MWIDGETSRC)/llib-l/Xm.ln
     LINTXMTOOL = $(MTOOLKITSRC)/llib-lXt.ln
     LINTUILLIB = $(UILSRC)/llib-lUil.ln
        SYSLIBS = -lgen

#if NeedDefaultDepLibs
/*
 */
#if HasSunOSSharedLibraries
        DEPLIBS = /* */
#else
        DEPLIBS = /* */
#endif
        DEPLIBS1 = $(DEPLIBS)
        DEPLIBS2 = $(DEPLIBS)
        DEPLIBS3 = $(DEPLIBS)
#endif /* NeedDefaultDepLibs */

MCSSTRING = "Motif 1.1.4 - Dell Computer Corporation"

/*
 * for Motif port outside of X tree
 */
XTOP=$(TOP)/../
XLIBSRC=$(XTOP)/lib/X
XINCLUDESRC=$(XTOP)/X11
EXTENSIONSRC=$(XTOP)/extensions
TOOLKITSRC=$(XTOP)/lib/Xt
FONTSRC=$(XTOP)/fonts
UIDDIR=$(LIBDIR)/uid

