wxbuild ICON "wxbuild.ico"
treeicn ICON "tree.ico"

#include "wx.rc"

FRAMETOOL       BITMAP "bitmaps/frame.bmp"
DIALOGBOXTOOL   BITMAP "bitmaps/dialog.bmp"
PANELTOOL       BITMAP "bitmaps/panel.bmp"
CANVASTOOL      BITMAP "bitmaps/canvas.bmp"
TEXTWINDOWTOOL  BITMAP "bitmaps/textsw.bmp"
MESSAGETOOL     BITMAP "bitmaps/message.bmp"
BUTTONTOOL      BITMAP "bitmaps/button.bmp"
CHECKBOXTOOL    BITMAP "bitmaps/check.bmp"
RADIOBOXTOOL    BITMAP "bitmaps/radio.bmp"
LISTBOXTOOL     BITMAP "bitmaps/listbox.bmp"
CHOICETOOL      BITMAP "bitmaps/choice.bmp"
TEXTTOOL        BITMAP "bitmaps/text.bmp"
MULTITEXTTOOL   BITMAP "bitmaps/mtext.bmp"
SLIDERTOOL      BITMAP "bitmaps/slider.bmp"
ARROWTOOL       BITMAP "bitmaps/arrow.bmp"
GROUPTOOL       BITMAP "bitmaps/group.bmp"
GAUGETOOL       BITMAP "bitmaps/gauge.bmp"

LOADTOOL        BITMAP "bitmaps/load.bmp"
SAVETOOL        BITMAP "bitmaps/save.bmp"
VERTTOOL        BITMAP "bitmaps/vert.bmp"
ALIGNTTOOL      BITMAP "bitmaps/alignt.bmp"
ALIGNBTOOL      BITMAP "bitmaps/alignb.bmp"
HORIZTOOL       BITMAP "bitmaps/horiz.bmp"
ALIGNLTOOL      BITMAP "bitmaps/alignl.bmp"
ALIGNRTOOL      BITMAP "bitmaps/alignr.bmp"
CPPTOOL         BITMAP "bitmaps/cpp.bmp"
TREETOOL        BITMAP "bitmaps/tree.bmp"
HELPTOOL        BITMAP "bitmaps/help.bmp"
