XCOMM $XFree86: mit/config/bsdLib.tmpl,v 2.1 1993/12/17 10:57:09 dawes Exp $
XCOMM $XConsortium: sunLib.tmpl,v 1.14.1.2 92/11/11 09:52.02 rws Exp $

/*
 * SunOS shared library template
 */

#ifndef SharedXlibRev
#define SharedXlibRev 2.0
#endif
#ifndef SharedOldXRev
#define SharedOldXRev 2.0
#endif
#ifndef SharedXtRev
#define SharedXtRev 2.0
#endif
#ifndef SharedXawRev
#define SharedXawRev 2.0
#endif
#ifndef SharedXmuRev
#define SharedXmuRev 2.0
#endif
#ifndef SharedXextRev
#define SharedXextRev 2.0
#endif
#ifndef SharedXinputRev
#define SharedXinputRev 2.0
#endif
#ifndef SharedXTrapRev
#define SharedXTrapRev 2.0
#endif
#ifndef SharedPexRev
#define SharedPexRev 2.0
#endif

SHLIBLDFLAGS = SharedLibraryLoadFlags
PICFLAGS = PositionIndependentCFlags

/*
 * and now a little bit of magic for using imake without source tree; if we
 * are using shared libraries, we really do not need to depend on anything
 */
#if SharedLibXext
  DEPEXTENSIONLIB = /* _UseCat($(USRLIBDIR),$(EXTENSIONSRC)/lib,/libXext.so.$(SOXEXTREV)) */
     EXTENSIONLIB = _Use(-lXext,-L$(EXTENSIONSRC)/lib -lXext)
#endif
#if SharedLibX
          DEPXLIB = $(DEPEXTENSIONLIB) /* _UseCat($(USRLIBDIR),$(XLIBSRC),/libX11.so.$(SOXLIBREV)) */
             XLIB = $(EXTENSIONLIB) _Use(-lX11,-L$(XLIBSRC) -lX11)
#endif
#if SharedLibXmu
/* Sun shared libraries are deficient in link semantics */
        DEPXMULIB = _UseCat($(USRLIBDIR),$(XMUSRC),/libXmu.so.$(SOXMUREV))
       XMULIBONLY = _Use(-lXmu,-L$(XMUSRC) -lXmu)
           XMULIB = _Use(-lXmu,-L$(XMUSRC) -lXmu -L$(TOOLKITSRC) -lXt -L$(EXTENSIONSRC)/lib -lXext -L$(XLIBSRC) -lX11)
#if !defined(UseInstalled) && !defined(XawClientLibs)
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#endif
#if SharedOldLibX
       DEPOLDXLIB = /* _UseCat($(USRLIBDIR),$(OLDXLIBSRC),/liboldX.so.$(SOOLDXREV)) */
          OLDXLIB = _Use(-loldX,-L$(OLDXLIBSRC) -loldX)
#endif
#if SharedLibXt
      DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.so.$(SOXTREV))
         XTOOLLIB = _Use(-lXt,-L$(TOOLKITSRC) -lXt)
#endif
#if SharedLibXaw
        DEPXAWLIB = _UseCat($(USRLIBDIR),$(AWIDGETSRC),/libXaw.so.$(SOXAWREV))
           XAWLIB = _Use(-lXaw,-L$(AWIDGETSRC) -lXaw)
#endif
#if SharedLibXinput
        DEPXILIB = /* _UseCat($(USRLIBDIR),$(XILIBSRC),/libXi.so.$(SOXINPUTREV)) */
           XILIB = _Use(-lXi,-L$(XILIBSRC) -lXi)
#endif
#if SharedLibPex
        DEPPEXLIB = /* _UseCat($(USRLIBDIR),$(PEXLIBSRC),/libPEX5.so.$(SOPEXREV)) */
           PEXLIB = _Use(-lPEX5,-L$(PEXLIBSRC) -lPEX5)
#endif
