/*
  ImageMagick Imakefile info.  This contains any special redefinitions.

  Copyright 1992 E. I. du Pont de Nemours & Company

  Permission to use, copy, modify, distribute, and sell this software and
  its documentation for any purpose is hereby granted without fee,
  provided that the above Copyright notice appear in all copies and that
  both that Copyright notice and this permission notice appear in
  supporting documentation, and that the name of E. I. du Pont de Nemours
  & Company not be used in advertising or publicity pertaining to
  distribution of the software without specific, written prior
  permission.  E. I. du Pont de Nemours & Company makes no representations
  about the suitability of this software for any purpose.  It is provided
  "as is" without express or implied warranty.

  E. I. du Pont de Nemours & Company disclaims all warranties with regard
  to this software, including all implied warranties of merchantability
  and fitness, in no event shall E. I. du Pont de Nemours & Company be
  liable for any special, indirect or consequential damages or any
  damages whatsoever resulting from loss of use, data or profits, whether
  in an action of contract, negligence or other tortious action, arising
  out of or in connection with the use or performance of this software.
*/

/*
  Uncomment the following lines if you have the JPEG or TIFF libraries.
  See README for more details.

JPEG= -DAlienJPEG
JPEG_INCLUDES= -Ijpeg -I../jpeg
JPEG_LIBRARIES= -Ljpeg -L../jpeg -ljpeg
TIFF= -DAlienTIFF
TIFF_INCLUDES= -Itiff/libtiff -I../tiff/libtiff
TIFF_LIBRARIES= -Ltiff/libtiff -L../tiff/libtiff -ltiff
*/

/*
  Might need one of these for xtp to link correctly.

EXTRA_LOAD_FLAGS= -lnsl
EXTRA_LOAD_FLAGS= -linet -lnsl_s -lrpc -lcposix
*/

DEFINES= $(JPEG) $(JPEG_INCLUDES) $(TIFF) $(TIFF_INCLUDES)
LOCALDIR=/opt/bin
SYS_LIBRARIES= $(XLIB) $(JPEG_LIBRARIES) $(TIFF_LIBRARIES) -lm

#define PassCDebugFlags 'CDEBUGFLAGS=$(CDEBUGFLAGS)' 'CC=$(CC)' \
  'CCOPTIONS=$(CCOPTIONS)'
