######################################################################
# this file contains descriptions of the fields supported by qi
#
#Format:
#  field number (the nameserver may depend on this number/field being constant)
#  field name used by query command & responses
#  Max field size (obsolete - ignored)
#  Full name of field
#  Options (obsolete - ignored)
#  attributes: Indexed, Lookup, Public, Forcepub, Default, Unique,
#              Encrypted, Localpub, Change, URL, Image, Email
#
######################################################################

# core fields (possibly fixed field numbers)

1:Name:0:Full Name::Indexed:Lookup:Public:Forcepub:Default:
2:Alias:0:Unique name for user::Unique:Indexed:Lookup:Public:Default:Change:
3:Nickname:0:Nicknames::Indexed:Lookup:Public:Change:
4:Email:0:Electronic mail address::Email:Indexed:Lookup:Public:Default:
5:Soundex:0:Sounds like::Indexed:Lookup:Public:
6:Export_email:0:Rewrite email address?::Public:Change:

# phone numbers

10:Phone:0:Preferred telephone number::Lookup:Public:Default:Change:
11:Office_Phone:0:Office telephone number::Public:Change:
12:Home_Phone:0:Home telephone number::Change:
13:FAX:0:FAX telephone number::Public:Change:

# addresses

20:Address:0:Preferred paper mail address::Public:Default:Change:
21:Office_address:0:Paper mail address of office::Public:Change:
22:Office_location:0:Physical location of office::Public:Default:Change:
23:Home_address:0:Home paper mail address::Change:Localpub:

# misc info

30:College:0:College name::Lookup:Public:Default:
31:Department:0:College department::Indexed:Lookup:Public:Default:Change:
32:Title:0:Job title/type of person::Lookup:Public:Default:
33:Hours:0:Office hours::Public:Default:Change:
34:Other:0:Other info the user finds important::Public:Default:Change:
35:Birthday:0:Birthday:::
36:Text:0:Lists of information::Public:Default:Change:
37:Homepage:0:Personal web page::URL:Indexed:Lookup:Public:Default:Change:
38:Picture:0:Mugshot::URL:Image:Lookup:Public:Default:Change:

# for internal use (generally fixed field numbers)                         

90:Type:0:Type of entity (person, department, etc)::Public:Lookup:
91:Hero:0:Is a ph hero:
92:Proxy:0:Alias of other users who may change this entry:
93:Password:0:Password for login mode::Encrypted:Change:
94:Holding:0:Holding proxies::Change:
95:Next_id:0:Next available ID::Change:
