#ifndef UsrIncDir
#define UsrIncDir $(DESTDIR)/usr/include
#endif
#ifndef TestSrcDir
#define TestSrcDir $(TOP)/tests
#endif
#ifndef SharedLibXm
#if HasSunOSSharedLibraries
#define SharedLibXm YES
#else
#define SharedLibXm NO
#endif
#endif
#ifndef SharedLibMrm
#if HasSunOSSharedLibraries
#define SharedLibMrm YES
#else
#define SharedLibMrm NO
#endif
#endif
#ifndef SharedLibUil
#if HasSunOSSharedLibraries
#define SharedLibUil YES
#else
#define SharedLibUil NO
#endif
#endif
#ifndef SharedXmRev
#define SharedXmRev 4.0
#endif
#ifndef SharedMrmRev
#define SharedMrmRev 4.0
#endif
#ifndef SharedUilRev
#define SharedUilRev 4.0
#endif
#ifndef XmClientDepLibs
#define XmClientDepLibs $(DEPMRMLIB) $(DEPXMLIB) $(DEPXMULIB) $(DEPXTOOLLIB) $(DEPXLIB)
#endif
#ifndef XmClientLibs
#define XmClientLibs $(MRMLIB) $(XMLIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#endif

#if SHAPE
    MWM_DEFINES = -DSHAPE
#else
    MWM_DEFINES = /*nothing*/
#endif

      USRINCDIR = UsrIncDir
        TESTSRC = TestSrcDir
     MWIDGETSRC = $(LIBSRC)/Xm
   MRESOURCESRC = $(LIBSRC)/Mrm
         UILSRC = $(CLIENTSRC)/uil
            UIL = $(UILSRC)/uil

#ifndef _Use
#ifdef UseInstalled
#define _Use(a,b) a
#else
#define _Use(a,b) b
#endif
#endif

#if SharedLibXm
       DEPXMLIB = /*_Use($(USRLIBDIR),$(MWIDGETSRC))/libXm.so.$(SOXMREV)*/
          XMLIB = _Use(-lXm,-L$(MWIDGETSRC) -lXm)
#else
       DEPXMLIB = _Use($(USRLIBDIR),$(MWIDGETSRC))/libXm.a
          XMLIB = LoaderLibPrefix _Use(-lXm,$(MWIDGETSRC)/libXm.a)
#endif
#if SharedLibMrm
      DEPMRMLIB = /*_Use($(USRLIBDIR),$(MRESOURCESRC))/libMrm.so.$(SOMRMREV)*/
         MRMLIB = _Use(-lMrm,-L$(MRESOURCESRC) -lMrm)
#else
      DEPMRMLIB = _Use($(USRLIBDIR),$(MRESOURCESRC))/libMrm.a
         MRMLIB = LoaderLibPrefix _Use(-lMrm,$(MRESOURCESRC)/libMrm.a)
#endif
#if SharedLibUil
      DEPUILLIB = /*_Use($(USRLIBDIR),$(UILSRC))/libUil.so.$(SOUILREV)*/
         UILLIB = _Use(-lUil,-L$(UILSRC) -lUil)
#else
      DEPUILLIB = _Use($(USRLIBDIR),$(UILSRC))/libUil.a
         UILLIB = LoaderLibPrefix _Use(-lUil,$(UILSRC)/libUil.a)
#endif

  LINTMRESOURCE = _Use($(USRLIBDIR),$(MRESOURCESRC))/llib-libMrm.ln
LINTXMWIDGETLIB = _Use($(USRLIBDIR),$(MWIDGETSRC))/llib-libXm.ln
     LINTUILLIB = _Use($(USRLIBDIR),$(UILSRC))/llib-lUil.ln

#if HasSunOSSharedLibraries
        SOXMREV = SharedXmRev
       SOMRMREV = SharedMrmRev
       SOUILREV = SharedUilRev
#endif
